@import "../../../styles/variables.scss";

.dhsc-data-limitations-panel-container {
  border: 5px solid $govuk-error-colour;
  padding: 0px 10px 5px 15px;
  margin-bottom: 15px;
}

.dhsc-data-limitations-panel-container-header-row {
  background-color: $govuk-error-colour;
}
