@import "../../../styles/variables.scss";

.dhsc-data-updates-panel-container {
  border: 5px solid $govuk-success-colour;
  padding: 0px 10px 5px 15px;
  margin-bottom: 15px;
}

.dhsc-data-updates-panel-container-header-row {
  background-color: $govuk-success-colour;
}
