@import "variables";

.dhsc-\!-text-white {
  color: $govuk-white !important;
}

.dhsc-blue-panel-container {
  background-color: $govuk-brand-colour;
  padding: 15px 10px 5px 15px;
  margin-bottom: 15px;
}

.dhsc-grey-panel-container {
  background-color: $govuk-light-grey;
  border: 1px solid $govuk-brand-colour;
  padding: 15px 10px 5px 15px;
  margin-bottom: 15px;
}

.dhsc-white-panel-container {
  border: 1px solid $govuk-border-colour;
  padding: 15px 10px 5px 15px;
  margin-bottom: 15px;
}
